<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Hardwood Heaven Studios</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Store</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-clear" data-toggle="modal" data-target="#cartModal"><i class="fas fa-shopping-cart"></i></a>
            </li>
        </ul>
        <div class="myLinksDiv">
            <a class="myLinks btn btn-primary text-light" data-toggle="modal" data-target="#exampleModalCenter">Login</a>
            <a class="myLinks btn btn-primary text-light" data-toggle="modal" data-target="#exampleModalCenter2">Register</a>
            <img class="flag" src="img/usa1-thumb.gif" width="40" alt="U.S. flag">
            <a class="usa" >Made in the U.S.A.</a>
        </div>
    </div>
</nav>
