<p>this is where the gallery will be located.</p>

<img src="https://res.cloudinary.com/cj-innovations-com/image/upload/v1535304164/gallery/In_Case_Bolt_Action_Pens_with_Gun_Case_Holder.jpg" width="200">