<div id="gallery-container">
    <div class="row">
        <div class="col-1 text-center">
            <button id="back-image-btn" class="image-btn"><i id="back-arrow" class="fas fa-arrow-circle-left arrow-icon"></i></button>
        </div>
        <div id="gallery-div" class="col-10">
            <img class="gallery-image" src="/static/img/ajax-loader.gif" alt="loading gif">
        </div>
        <div class="col-1 text-center">
            <button id="forward-image-btn" class="image-btn"><i id="next-arrow" class="fas fa-arrow-circle-right arrow-icon"></i></button>
        </div>
    </div>
</div>