<div id="gallery-container">
    <div class="row">
        <div class="col-1 text-center">
            <i id="back-arrow" class="fas fa-arrow-circle-left image-btn"></i>
        </div>
        <div id="gallery-div" class="col-10">
            <img class="gallery-image" src="/static/img/ajax-loader.gif" alt="loading gif">
        </div>
        <div class="col-1 text-center">
            <i id="next-arrow" class="fas fa-arrow-circle-right image-btn"></i>
        </div>
    </div>
</div>