.jumbotron {
    background-image: url('../img/HardwoodHeavenStudiosBG1.jpg');
    background-size: cover;
    background-position: center center;
    height: 83.2vh;
    margin-bottom: 0;
    border-radius: 0;
    text-align: center;
}

.myLinks {
    margin-right: 1rem;
}

.myLinks:hover {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.myLinks:visited {
    text-decoration: none;
}

.nav-link {
    margin-left: 2rem;
}

footer {
    text-align: center;
    height: 10rem;
}

.usa {
    margin-left: 1rem;
    margin-right: 10rem;
    color: #fff !important;
}

.flag {
    margin-left: 2rem;
}

h1 {
    color: #fff;
    font-size: 5rem;
    text-shadow: 
    5px 5px 0px #000,
    5px -5px 0px #000,
    -5px 5px 0px #000,
    -5px -5px 0px #000,
    0px -5px 0px #000,
    0px 5px 0px #000,
    5px 0px 0px #000,
    -5px 0px 0px #000
}

#contactDiv {
    height: 81.9vh;
}

.admin-container {
    width: 80vw;
    margin: auto;
}

.modify-icons {
    font-size: 3rem;
}

.fa-trash {
    color: #ff0000;
}

.fa-trash:hover {
    color: #aa0000;
}

.update-product {
    color: #007bff;
}

.update-product:hover {
    color: #0055aa;
    cursor: pointer;
}

.shopping-cart-occupied {
    color: #00ff00;
}

.shopping-cart-occupied:hover {
    color: #00bb00;
}

.cart-qty {
    width: 50px;
}

.remove-cart-item:hover {
    cursor: pointer;
    background: #faa;
}